<footer class="site-footer dark-bg pt-85 position-relative">
    <div class="footer__top">
        <a href="#" class="go-top go-top__white position-absolute d-flex align-items-center justify-content-center" style="z-index: 11;">
            <i class="fal fa-long-arrow-up"></i>
        </a>
    </div>
    <div class="footer__middle mt-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="footer__logo--content"><p>TMAC Finance By Breeze Foundation</p></div>
                </div>
                <div class="col-lg-5 align-self-end">
                    <div class="social-links d-flex align-items-center justify-content-lg-end">
                        <a href="https://twitter.com/tipmeacoffee" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://t.me/tipmeacoffee" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://discord.gg/eMfdUbkYHu" target="_blank"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__menu-area mt-30 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="footer__menu">
                        <nav>
                            <ul>
                                <li><a href="https://breeze.foundation" target="_blank">Breeze Foundation</a></li>
                                <li><a href="https://tipmeacoffee.com" target="_blank">Tip Me A Coffee</a></li>
                                <li><a href="https://breezescan.io" target="_blank">BreezeScan</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-end">
                    <a href="#" class="go-top go-top__bottom">
                        <span>go top</span>
                        <i class="fal fa-long-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/contractabi.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/jquery.meanmenu.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/lightcase.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/scrollwatch.js"></script>
<script src="/js/sticky-header.js"></script>
<script src="/js/waypoint.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/jquery-ui-slider-range.js"></script>
<script src="/js/main.js"></script>
</body>
</html>