<%- include('./common/header') %>
    <main>
        <section class="breadcrumb-area pt-40 pb-40 bg_img"
            data-background="https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg"
            data-overlay="dark" data-opacity="5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h2 class="page-title" style="font-weight:300;color: #C7A17A;">How It Works</h2>
                        <div class="cafena-breadcrumb breadcrumbs">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li class="cafenabcrumb-item duxinbcrumb-begin">
                                    <a href="#"><span style="color: #C7A17A;">Frequently Asked Question</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="faq__area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq__wrapper">
                            <div class="accordion" id="accordionFaq">
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            What is TMAC token?
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>TMAC (Tip Me A Coffee) is the native token of breeze blockchain which is produced as proof of likes mechanism on social media platform, <a href="https://tipmeacoffee.com" target="_blank">Tip Me A Coffee</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            Where I can get TMAC tokens?
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>TMAC token has pure decentralized economy in which every contributor is rewarded. You can get free TMAC token by sharing on TipMeACoffee dApp, curating (upvoting), airdrop, affiliate, by becoming witness or by being a developer to the breeze ecosystem.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            Is there any fee for staking?
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>No, absolutely not. This project is purely for its users by its users so no fees are involved.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            What is reward token for staking and farming pools?
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>Rewards are payed in BNB token for staking and farming pools. Soon new pools for cake and BTC rewards will also be added.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapse5">
                                            How to earn affiliate reward?
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>Simply refer your friends and family members to tmac.finance. After they stake in any pool, 10% out of their total generated reward goes to you (referral). Your referral link is on <a href="/referral">affiliate page</a>.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading6">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            How to get LP tokens for farming pool?
                                        </button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>Go to <a href="https://pancakeswap.finance/add/0x6421282c7f14670D738F4651311C5a1286e46484/BNB" target="_blank">pancakeswap.finance</a>, search for TMAC(0x6421282c7f14670d738f4651311c5a1286e46484) in tokens list on exchnage tab and add it. Now select liquidity tab, choose TMAC and wbnb token pair, add liquidity. You will get cake-lp tokens which you can see in your wallet (metamask) and also on farming page under stake option as your balance. Now you can stake them to earn TMAC rewards</p>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading7">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            What is pool supply?
                                        </button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>Pool supply means the amount of tokens available for claim through staking on Tmac.Finance. 50% of all the tokens genertaed on breeze chain through proof of likes eco-system are reserved for defi pool.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading8">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            Do I need to stake for any specific time period?
                                        </button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>No, You can enter or exit at anytime</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item faq__item">
                                    <h2 class="accordion-header title" id="heading9">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            When I can withdraw my rewards?
                                        </button>
                                    </h2>
                                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                                        data-bs-parent="#accordionFaq">
                                        <div class="accordion-body content">
                                            <p>You can withdraw your rewards at anytime.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./common/footer') %>
<script type="text/javascript">
    window.addEventListener('load', async () => {
        init();
        switchNetwork();
        if (window.ethereum) {
            let selectedAccount = null;
            try {
                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
                if (accounts == null || accounts.length == 0) {
                console.log("NO ACCOUNT CONNECTED");
                } else {
                    if (selectedAccount != accounts[0]) {
                        selectedAccount = accounts[0];
                    }
                    window.localStorage.setItem("userAddress", selectedAccount);
                    document.querySelector("#prepare").style.display = "none";
                    document.querySelector("#connectedAdd").style.display = "block";
                    $('#connectWallet').html(getUserAddress(selectedAccount));
                    $('.ref_link').html('https://tmac.finance/'+selectedAccount);
                    $("#connectWallet").click(function(){ window.open("https://bscscan.com/address/" + selectedAccount, '_blank')});
                }
            } catch (error) {
                console.error(error);
            }
            console.log(selectedAccount)
            //getUser()
            try { provider = web3.currentProvider;
                if (typeof web3 !== 'undefined') {
                    web3 = new Web3(web3.currentProvider);
                } else {
                    // set the provider you want from Web3.providers
                    web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
                }
            } catch(e) { console.log("Could not get a wallet connection", e);
            return;
            }
            await getData();
            provider.on("accountsChanged", (accounts) => {console.log('Account changed');window.location.href = "";});
            provider.on("chainChanged", (chainId) => {console.log('Chain changed');window.location.href = "";});
            provider.on("networkChanged", (networkId) => {console.log('Network changed');window.location.href = "";});
        }
        document.querySelector("#btn-connect").addEventListener("click", onConnect);
    });
    function getUserAddress(userAddress) {
        let firstFive = userAddress.substring(0, 5);
        let lastFive = userAddress.substr(userAddress.length - 5);
        return firstFive + '...' + lastFive;
    }
    async function onConnect() {
        try {
            provider = await web3Modal.connect();
        }     catch(e) {
            console.log("Could not get a wallet connection", e);
            return;
        }
        await getData();
    }
    async function getData() {
        const web3 = new Web3(provider);
        const accounts = await web3.eth.getAccounts();
        selectedAccount = accounts[0];
        console.log(selectedAccount)
        if (selectedAccount == null || selectedAccount.length == 0) {
            document.querySelector("#connectedAdd").style.display = "none";
            document.querySelector("#prepare").style.display = "block";
        }else{
            if (selectedAccount != accounts[0]) {
                selectedAccount = accounts[0];
            }
            document.querySelector("#prepare").style.display = "none";
            document.querySelector("#connectedAdd").style.display = "block";
            $('#connectWallet').html(getUserAddress(selectedAccount));
            $('.ref_link').html('https://tmac.finance/ref/'+selectedAccount);
            $("#connectWallet").click(function(){ window.open("https://bscscan.com/address/" + selectedAccount, '_blank')});
        }
    }

</script>